$base-menu-width: 260px;
$base-menu-mini-width: 65px;
$base-menu-background: #001529;
$base-tabbar-height: 50px;
$base-text-color: pink;
//logo
$base-menu-logo-height: 90px;
$base-logo-title-fontSize: 20px;

